*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans 3', sans-serif;
}

/* Typography */

header {
    margin: 0 3vw;
    padding: .43em 0;
    letter-spacing: .5px;
}

.nav-logo{
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

header .nav-logo{
    padding: .5em;
}

header .fa-space-awesome {
    color: #e06563;
    padding-right: .2em;
}

nav li {
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    margin-left: 1vw;
}

header .fa-bars {
    color: black;
}

.articles .h2{
    color: black;
}

#nav-menu a{
    color: black;
}

/* Nav Mobile Icon */

nav i.fa-bars,
nav i.fa-xmark {
    cursor: pointer;
    font-size: 1.3rem;
}

nav i.fa-xmark {
    display: none;
}

nav ul{
    display: none;
    list-style-type: none;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 3.23em;
    background-color: #505050;
    opacity: .8;
}

.mobile-menu-link {
    display: block;
    text-decoration: none;
    padding: 0.75rem 1rem;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

.mobile-menu-link:hover {
    background-color: #F5F5F5;
    color: #505050;
    opacity: .8;
}

/* Nav Bar */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}



/* Featured Blog Styling */

.featured-blog {
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 5em auto auto 1.6em;
    gap: 5px;
    background-image: url("../images/featured-img.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-desc{
    grid-column: 2;
    color: white;
}

.featured-blog time{
    grid-row: 2;
}

.featured-blog h1{
    grid-row: 3;
}

.featured-blog p{
    grid-row: 4;
}

/* Graphic */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* All article styling */

    /* box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    cursor: pointer; */

.articles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 20px;
    gap: 2em;
    margin-top: 2.125em;
}

.articles article {
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-rows: repeat(4, auto) 10px;;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0.3s ease-in-out;
    cursor: pointer;
    gap: 9px;
}

.articles article:hover{
    transform: scale(1.05);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

article h2,
article p,
article time {
    grid-column: 2;
}

article img{
    grid-column: 1 / -1;
    grid-row: 1;
}

article time{
    grid-row: 2;
}

article h2 {
    grid-row: 3;
}

article p{
    grid-row: 4;
}

/* VIEW MORE and FOOTER */

.view-more{
    text-align: center;
    padding: 2.5em 0;
}

footer {
    text-align: center;
    padding: 1.2em 0;
    background-color: #202020;
}

footer h4{
    line-height: 1.25;
    color: white;
    
}

footer .copyright {
    display: block;
    color: #D7D7D7;
}

.view-more-link {
    color: black;
}

/* UTILITIES */

.blog > *,
.nav-logo > * {
    pointer-events: none;
}

.hidden {
    display: none;
}

@media (min-width: 480px){
    
    .mobile-menu{
        display: none;
    }
    
    nav i.fa-bars,
    nav i.fa-xmark {
    display: none;
    }
    
    .featured-blog{
        grid-template-columns: 50px auto 50px;
        grid-template-rows: 10em auto auto 5em;
        gap: 10px;
    }
    
    .featured-blog p{
        max-width: 65ch;
    }
    
    
    .articles{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 0 20px;
        gap: 2em;
        margin-top: 2.125em;
    }
    
    /* nav bar */
    nav ul{
        display: flex;
    }
    
    header .nav-logo{
        font-size: 2.7vw;
    }
    
    nav li{
        font-size: 2.7vw;         
    }
    
    nav li a {
        margin-left: 2vw;
    }

}

@media (min-width: 768px){
    
    .featured-blog{
        grid-template-columns: 50px auto 50px;
        grid-template-rows: 13em auto auto 6em;
        gap: 10px;
    }
    
    .featured-blog{
        font-size: 1.5vw;
    }
    
    .articles{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 0 20px;
        gap: 3em;
        margin-top: 2.125em;
    }
    
    /* nav bar */
    
    header {
        padding: 1.2vw 0;
    }
    
    header .nav-logo{
        font-size: 2.2vw;
    }
    
    nav li{
        font-size: 2.2vw;        
    }
    
    nav li a {
    margin-left: 3vw;
    }
    
}

@media (min-width: 1024px){
    
    .featured-blog {
        grid-template-columns: 50px auto 50px;
        grid-template-rows: 12em auto auto 5em;
        gap: 10px;
    }
    
    .articles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        padding: 0 20px;
        gap: 2em;
        margin-top: 2.125em;
    }
    
    /* nav bar */
    
    header {
        margin: 0 5vw;
        padding: 1vw 0;
    }
    
    header .nav-logo{
        font-size: 1.5em;
    }
    
    nav li{
        font-size: 1.4em;       
    }
    
}

@media (min-width: 1440px){
    
    .articles{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        padding: 0 20px;
        gap: 2em;
        margin-top: 2.125em;
    }
    
    /* nav bar */
    
    header {
        padding: 1vw 0;
    }
    
    header .nav-logo{
        font-size: 1.5em;
    }
    
    nav li{
        font-size: 1.2em;       
    }
}